{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

{% endblock %}
<!-- Content block -->



  <!-- Content block -->

  {% block content %}
  <!-- details card section starts from here -->

<!-- details card section starts from here -->

  <!-- Sources section -->

  

  <div class="container-fluid">
    <div style="text-align:center;">
      <h2 style="font-family:serif;"> News Sources</h2>
      <!-- Button to Open the Modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="background-color:red;align-items: center;font-family: 'Times New Roman', Times, serif;font-size: 16px;">
        Open news Sources
      </button>

    </div>
    
      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
            <ul>
                {{ macro.displayNewsList(source)}}
            </ul>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>

  

  {% endblock%}
  
